<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Employee Record</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <main style="margin: 1em;">
    <section>
        <h2>Employees</h2>
        <table  class ="table table-bordered ">
          <tr>
            <th>Id</th>
            <th>Employee Name</th>
            <th>Employee email-id</th>
          </tr>
          <tr>
            <% for(let employee in result) { %>
            <tr>
                <td><%= result[employee].id%></td>
                <td><%= result[employee].name%></td>
                <td><%= result[employee].email%></td>
              </tr>
              <% } %>
        </table>
        <h2>Add New Employee</h2>
      <form action='/newemployee' method="POST" class="new-task">
        <div>
          <label for="id">Enter email-id :</label>
        <input name="id" placeholder="Enter email-id" type ="email">
        </div>
        <div>
        <label for="name">Enter Name:</label>
        <input name="name" placeholder="New Employee Name"></textarea>
        </div>
        <div>
          <button type="submit" class="add">Add</button>
        </div>
      </form>
    </section>
  </body>
  </main>
</html>